* {
  color: whitesmoke;
}

ul > li {
  display: inline-block;
  zoom:1;
  *display:inline;
  list-style: none;
}

.genre {
  background: #948b09;
  margin-left: 5px;
  padding: 1px;
  width: 2px;
  height: 2px;
  text-align: center;
}

.card {
  max-width: 100rem;
  margin-top: 25px;
}
